@charset="utf-8";

header, footer, nav, hgroup, aside, section, article {
	display: block;
}

body {
	margin: 0;
	padding: 0;
}

header {

}

main>h2 {

}

#container {
	max-width: 800px;
	margin-top: 50PX;

}

footer {

}

