/*************   Global CSS   *************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #E1F5FE;
}

nav {
	padding: 10px;
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: #2B4E86;
	z-index: 99999;
}

nav ul li {
	padding-right: 20px;
	padding-left: 10px;
	float: left;
	list-style: none;
	border-right: 1px solid #E3F2FD;
}

nav ul li a {
	margin-left: 15px;
	text-decoration: none;
	color: #fff;
}

nav ul {
	float: right;
}

hr {
	margin: 10px;
	margin-top: 50px;
}

.container > * {
	color: #E3F2FD; /*#90AFDD*/
}

.container {
	margin: 10px;
	background-color: #2B4E86;
	box-shadow: 10px 10px 5px 5px #ccc;
} 

.container {
	margin: 10px;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
	color: #E08500;
} 

.clear:after {
	content: "";
	clear: both;
	display: block;
}

/*************   CSS for Item #1   *************/

#item-first {
	margin: 20px auto;
	width: 700px;
	height: auto;
	padding: 10px;
}

#item-first .grey-box {
	margin: 10px;
	width: 150px;
	height: 150px;
	background-color: #A5CBF0;
	float: left;
}

/*************   CSS for Item #2   *************/

#item-second {
	margin: 20px auto;
	width: 700px;
	height: auto;
	padding: 10px;
}

#item-second .white-border {
	margin: 10px;
	padding: 10px;
	padding-bottom: 50px;
	width: auto;
	border: 1px solid #E08500;
	float: left;
	position: relative;
}

#item-second .white-border h5 {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 55px;
}

#item-second .grey-box {
	width: 150px;
	height: 150px;
	background-color: #A5CBF0;
}

/*************   CSS for Item #3   *************/

#item-third {
	margin: 20px auto;
	width: 700px;
	height: auto;
	padding: 10px;
}

#item-third h1 {
	margin-bottom: 20px;
}

#item-third p {
	margin-bottom: 20px;
}

#item-third .grey-box {
	margin-right: 10px;
	width: 150px;
	height: 150px;
	background-color: #A5CBF0;
	float: left;
}

/*************   CSS for Item #4   *************/

#item-forth {
	margin: 20px auto;
	width: 700px;
	height: auto;
	padding: 10px;
}

#item-forth .grey-box {
	margin-right: 10px;
	width: 150px;
	height: 150px;
	background-color: #A5CBF0;
}

#item-forth .grey-box-container {
	width: 20%;
	float: left;
}

#item-forth .paragraph-container {
	width: 77%;
	float: right;
}

#item-forth p {
	margin-bottom: 12px;
	font-size: 12px;
	font-style: italic;
}

/*************   CSS for Item #5   *************/

#item-fifth {
	margin: 20px auto;
	width: 700px;
	height: auto;
	padding: 10px;
}

#item-fifth .grey-box-container {
	width: 7%;
	float: left;
}

#item-fifth .grey-box {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-color: #A5CBF0;
	
}

#item-fifth .form-container {
	width: 92%;
	float: right;
}

#item-fifth textarea {
	width: 100%;
	height: 100px;
}

textarea::-webkit-input-placeholder {
color: #000 !important;
}

#item-fifth button {
	padding: 0px 8px;
	float: right;
	margin-left: 5px;
}

/*************   CSS for Item #6   *************/

#item-sixth {
	margin: 20px auto;
	width: 700px;
	height: auto;
	padding: 10px;
}

#item-sixth .left-container {
	width: 7%;
	float: left;
}

#item-sixth h4,
#item-sixth p {
	font-style: italic;
}

#item-sixth a:link {
	color: #A5CBF0;
}

#item-sixth p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 13px;
}

#item-sixth a {
	font-size: 13px;
}

#item-sixth .grey-box {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-color: #A5CBF0;
	float: left;
}

#item-sixth .right-container {
	width: 91%;
	float: right;
	
}

#item-sixth .right-container .reply-container {
	margin-top: 20px;
	padding-left: 5px;
	border-left: 2px solid #E08500;
	float: left;
} 

#item-sixth .right-container .avatar-container {
	width: 9.5%;
	float: left;
}

#item-sixth .right-container .comment-reply-container {
	width: 90.5%;
	float: right;
} 

/*************   CSS for Item #7   *************/

#item-seventh {
	margin: 20px auto;
	width: 500px;
	height: auto;
	padding: 10px;
}

#item-seventh .left-container {
	width: 40%;
	float: left;
}

#item-seventh .grey-box {
	width: 100%;
	height: 100px;
	background-color: #A5CBF0;
}

#item-seventh .right-container {
	width: 59%;
	float: right;
}

#item-seventh .right-container span {
	/*color: #E08500;*/
	font-size: 12px;
}

/*************   CSS for Item #8   *************/

#item-eighth {
	margin: 20px auto;
	width: 500px;
	height: auto;
	padding: 10px;
}

#item-eighth .left-container {
	width: 59%;
	float: left;
}

#item-eighth .grey-box {
	width: 100%;
	height: 100px;
	background-color: #A5CBF0;
}

#item-eighth .right-container {
	width: 40%;
	float: right;
}

#item-eighth .left-container span {
	/*color: #E08500;*/
	font-size: 12px;
}

/*************   CSS for Item #9   *************/

#item-nineth {
	margin: 20px auto;
	width: 700px;
	height: auto;
	padding: 10px;
}

#item-nineth .left-container {
	width: 30%;
	float: left;
}

#item-nineth .left-container h1 {
	margin-bottom: 20px;
}

#item-nineth .left-container p{
	margin-bottom: 20px;
}

#item-nineth .right-container {
	width: 69%;
	float: right;
}

#item-nineth .grey-box {
	margin-right: 5px;
	margin-bottom: 5px;
	width: 150px;
	height: 150px;
	background-color: #A5CBF0;
	float: right;
}

/*************   CSS for Item #10   *************/

#item-tenth {
	margin: 20px auto;
	padding: 10px;
	width: 960px;
	height: auto;
	
}

#item-tenth .left-container {
	width: 58.25%;
	float: left;
}

#item-tenth .left-container .white-border {
	margin: 10px;
	padding: 5px;
	padding-top: 50px;
	width: 150px;
	height: 150px;
	border: 1px solid #E08500;
	float: left;
	position: relative;
}

#item-tenth .left-container .white-border h5 {
	text-align: center;
	position: absolute;
	top: 20px;
	left: 50px;
}

#item-tenth .left-container .grey-box {
	width: 100%;
	height: 100%;
	background-color: #A5CBF0;
}

#item-tenth .right-container {
	width: 41.75%;
	float: right;
}

#item-tenth .right-container > .grey-box {
	width: 100%;
	height: 180px;
	background-color: #A5CBF0;
}

#item-tenth .right-container .menu-container {
	padding-top: 20px;
}

#item-tenth .right-container .menu-container span {
	margin-left: 5px;
	background-color: #E08500;
}

#item-tenth .right-container .article-container {
	padding-top: 20px;
}

#item-tenth .right-container .article-container .grey-box {
	margin-right: 5px;
	width: 150px;
	height: 100px;
	background-color: #A5CBF0;
	float: left;
}

#item-tenth .right-container .article-container h1 {
	margin-bottom: 3px
}

#item-tenth .right-container .article-container p {
	padding-top: 10px;
	font-size: 12.4px;
	font-style: italic;
	line-height: 13px;
	word-spacing: 1.1px;
}
